<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Open Movie Database</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

  {% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Internet Database of Movies</a>

    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link disabled">User profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MovieDetailView' 1 %}">Add new movie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ActorDetailView' 1 %}">Add new actor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'CategoryDetailView' 1 %}">Add new category</a>
        </li>
      </ul>
      <form id="searchform" action="{% url 'MovieSearchListView' %}" method="get" accept-charset="utf-8" class="form-inline my-2 my-lg-0">
        <input id="searchbox" class="form-control mr-sm-2" type="search" name="q" placeholder="Search for movie" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  {% endblock %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 customSidebar">
      </div>
      <div class="col-sm-8 ">
        {% block content %}
        <div class="mainContainer">
            {% if category %}
              <h1>{{ category }}</h1>
              <div class="bigDivider"></div>
              <h3>Name: </h3><input class="form-control" placeholder="{{ category.name }}">

              </br></br>
              <h2>Related movies</h2>
              <div class="bigDivider"></div>
              <ul>
                {% for movie in movies %}
                  <li><a href="{% url 'MovieDetailView' movie.id %}"><h4>{{ movie }}</h4></a></li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if not category %}
              <h2> Category doesn't exist. </h2>
            {% endif %}
        </div>
        {% endblock %}
      </div>
      <div class="col-sm-2 customSidebar">
      </div>
    </div>
  </div>
</body>
</html>
