body, html  {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
    color: #fff;
}

hr {
  border-color: white;
}

.container-fluid, .row {
  height: 100%;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.customSidebar {
    height: 100%;
    font-size: 20px;
}

.customSidebar a {
    color: white;
}

.customSidebar .home {

}

.sidebar-nav li {
    margin-top: 15px;
}

.mainContainer {
  margin: 30px;
}

.mainContainer a {
    color: white;
}

.center {
  text-align: center;
}

.bigDivider {
  height: 1px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.buttonContainer {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.movieItem {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
